:root {
	--mainBlue: #008186;
	--lightBlue: #00acb3;
	--mainWhite: #fef4f5;
	--mainDark: #232528;
	--mainYellow: #ffa440;
}

body {
	font-family: 'Open Sans', sans-serif !important;
	background: var(--mainWhite) !important;
	color: var(--mainDark) !important;
}

.text-title {
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.text-blue {
	color: var(--mainBlue);
}

.text-bright {
	color: var(--lightBlue);
}
