:root {
	--mainPrimary: #49c9af;
	--mainLight: #95b0b2;
	--mainDark: #2b3e50;
	--mainWhite: #fef4f5;
	--mainDarker: #324b4c;
	--mainYellow: #ffa440;
}

body {
	font-family: 'Open Sans', sans-serif !important;
	background: var(--mainWhite) !important;
	color: var(--mainDarker) !important;
}

.text-title {
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.text-blue {
	color: var(--mainBlue);
}

.text-bright {
	color: var(--lightBlue);
}

img {
	height: 2rem;
}
